<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="channel-type:webhook:channel-config">
		<parameter name="expression" type="text" required="true">
			<context>script</context>
			<label>Expression</label>
			<description>Expression which extracts value from request to channel state</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
